@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900;300;500;600&display=swap');



* {
  box-sizing: border-box;

}

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  --color-primary: #ffc500;
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
}

.navbar {
  position: fixed;
  background-color: #000;
  top: 0;
  left: 0;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 9fr;
  padding: 0 1rem;
  width: 100vw;
  color: #fff;
  background-color: #000;
}

ul {
  display: flex;

  list-style: none;
  padding-left: 0;

}

li {
  margin-right: 0.625rem;
}

.navbar__links li {
  margin-right: 3rem;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.navbar__links {
  justify-self: end;
}

.navbar__links a {
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  /* tirar o sublinhado de baixo do link  */

}

.navbar__links a:hover {
  color: var(--color-primary);
}

.logo-studion {
  font-size: 2.375rem;
  font-weight: 900;
  line-height: 1ch;
  /* relativa ao tamanho da altura do glifo 0 da fonte */
  text-transform: uppercase;
  text-align: right;

}

.logo-studion__subtitle {

  font-size: 0.875rem;
  text-align: right;
  font-weight: 400;

}

.copy--primary {
  color: var(--color-primary);
}

.logo-studion a {
  text-decoration: none;
  font-weight: 300;
  color: white;
}