

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/brands.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #ffc500;
  --color-text: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar {
  position: absolute;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 9fr;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 7.75rem;
  padding: 0 1rem;

  color: var(--color-text);
}

.navbar__links {
  justify-self: end;
}

.navbar__links li {
  font-size: 0.875rem;
  margin-right: 3rem;
  text-transform: uppercase;
}

.navbar__links a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}

.navbar__links a:hover {
  color: var(--color-primary);
}

.logo-studion {
  font-size: 2.375rem;
  font-weight: 800;
  line-height: 1ch;
  text-transform: uppercase;
  text-align: right;
}

.logo-studion__subtitle {
  font-size: 0.875rem;
  font-weight: 300;
}

.copy--primary {
  color: var(--color-primary);
}

.hero{
  position: relative;
  height: 34.625rem;
  background-color: #000;
}
.hero__background{
  position: absolute;
  height: 100%;
  object-fit: contain;
  object-position: center;

}

.footer{
  background-color: #000;
  color: #fff;
  text-align: center;
} 

.footer__container{
  display: grid;
  grid-template-columns: repeat(3, auto);
  border-bottom: 0.1rem solid #FFF3;
  align-items: center;
  padding: 5rem 0;
}

.footer .logo-studion {
  justify-self: start;
  margin: 0;
}
.hero__copy{
  color: var(--color-text);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  padding: 7rem 1.875rem;
}

.hero__copy h2{
  margin: 0;
  margin-bottom: 3rem;
  font-size: 7.5rem;
  line-height: 7.5rem;
  letter-spacing: -0.3125rem;
  color: var(--color-primary);
}
.hero__copy p{
   margin: 0;
   font-size: 1rem;
   line-height: 1.875rem;

}
.container{
  max-width: 1140px;
  margin: 0 auto;
}

.contact{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer__form {
  display: grid;
  grid-template-columns: 9ch auto;
  gap: 1.375rem;
  align-items: center;
}
.footer__form label {
  font-size: .875rem;
  font-weight: 300;
  line-height: 1rem;
 
}

.footer__form__email {
  display: grid;
  grid-template-columns: auto 3.375rem;
}


.footer__form input {
  background-color: var(--color-primary);
  border: unset;
  font-size: .875rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 4rem;
  color: #000;


}
.footer__form input::placeholder {
  color: #000;
}

.footer__form button {
  cursor: pointer;
  transition: 0.3s all ease;
 
}

button{
  padding-right: 50px;
}
.footer__form button:hover {
  background-color: #000;
  color: #FFF;
}

.footer__social{
  display: grid;
  grid-template-columns: repeat(3,auto);
  gap: .5rem;

}

.footer__social {
  justify-self: end;
}

.footer__social a,
.footer__social a:hover,
.footer__social a:visited
 {
  color: white;
}

.footer__social .fa-twitter {
  color: #000;
}

.footer p {
  margin: 2.5rem 0;
}
